<p style="color: green"><%= notice %></p>

<%= render @meal %>

<div>
  <%= link_to "Edit this meal", edit_meal_path(@meal), class: 'btn btn-primary' %> |
  <%= link_to "Back to meals", meals_path, class: 'btn btn-primary' %>

  <%= button_to "Destroy this meal", @meal, method: :delete, class: 'btn btn-secondary mt-3 mb-5' %>
</div>
